/* basic layout */



.nav-bar {
    text-align: left;
    background: gray;
    padding: 5x;
}

body {
    background: black;
    font-family: 'Press Start 2P', cursive;
    color: lime;
}

/* title page and webpage */

.main-title {
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: lime;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav a {
    font-family: 'Press Start 2P', cursive;
    color: lime;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
  }
 
  /* game cards */
  
 .game-grid {
  padding-top: 20px;  
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
  }
  
  .game-card {
    background: linear-gradient(to bottom, black, rgb(50, 50, 50));
    border: lime;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: lime;
  }

  .game {
    margin-top: 20px;
    margin-left: 525px;
  }
  
  .game-canvas {
    border: 5px solid lime;
    display: inline-block;
    vertical-align: top;
    
  }
  
  .game-details {
    display: inline-block;
    vertical-align: top;
    color: lime;
    font-family: 'Press Start 2P', monospace;
    font-size: 14px;
    max-width: 400px;
  }

  /* animations */

  .game-card:hover {
    animation: glow 2s ease-in-out infinite alternate;
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
  }


  .logo {
    display:block;
    animation: pulse 1s ease-in-out infinite alternate;
    transform-origin: center;
  }

  .logo:hover {
    animation-iteration-count: 1;
    animation: swivel 0.5s ease-out 1 forwards;
    transform-origin: center;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  @keyframes swivel {
    50%,
    100% {rotate: 360deg;}
  }

  @keyframes glow {
    50% {
      box-shadow: 0 0 40px lime;
    }
  }